.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-title {
    display: flex;
    justify-content: center;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1.4rem;
}

.main-title > span {
    color: red;
}

.inputs-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
}

.inputs-wrapper > input {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    margin: 1rem;
    height: 2.2rem;
    border: 1px solid tomato;
    border-radius: 1rem;
    /*width: 20rem;*/
}

.inputs-wrapper > input:hover {
    border-radius: 5px;
    border: 1px solid green;
    /*box-sizing: border-box;*/
}

.inputs-title {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1.2rem;
    color: blueviolet;
}

.button {
    display: flex;
    justify-content: center;
    text-align: center;
    /*width: 20rem;*/
    width: 15rem;
}

.testType {
    width: 20rem;
}

.testType > div {
    margin: 1rem;
}